
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


/* ========VARIABLES========== */

:root{
    --golden-color:#F9E2B2;
    --dark-golden:#F6D38D;
    --black-color:#000;
    --white-color:#fff;
    --light-gray:#F8F9FA;
    --para-color:#999999;
}

/* ================== */



body{
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Playfair Display", serif;
}


header {
    background-color: var(--golden-color);
    padding-block: 20px;
}


#banner{
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#banner h1{
    font-size: 50px;
    color: var(--white-color);
}


#services{
    background-color: var(--light-gray);
}

.inner_services{
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#services .inner_services{
    background-color: var(--white-color);
}

